@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    height:100%;
    background-color: #152238;
}
nav{
    display: flex;
    position: fixed;
    visibility:hidden;
    width:100%;
    background-color: white;
    transition: 1s ease;
    justify-content: right;
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}
li{
    padding:15px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: white;
}
main{
    padding-top:60px;
    height:99vh;
}
main p{
    color:white;
    height: 50%;
    margin-left:20px;
    margin-top:10%;
    font-size: 50px;
}
section{
    min-height:99vh;
    padding:30px;
}
section .name p{
    font-size: 40px;
    color:white;
    padding:10px;
    padding-top:30px;
    width: 70%;
    border-bottom: 2px solid #e1ad21;
}
section .letters{
    width:70%;
    padding:15px;
}
span{
    color:white;
    font-size: 15px;
}
.left .letters {
    width: 70%;
    text-align: right;
    margin-left: 30%;
}
.left .name{
    width: 70%;
    text-align: right;
    margin-left: 30%;
}
.left .name p{
    margin-left:0%;
    width:100%;
    border-bottom: 2px solid #e1ad21;
}

.active{
    background-color:#152238 ;
}

.collapes{
    display: none;
}
.sectionCollapedHeight{
    min-height:10vh;
}

@media(max-width:1500px){
    section .name p{
        font-size: 25px;
    }   
    span{
        font-size: 10px;
    }
    main p{
        font-size: 25px;
    }
    li{
        font-size: 10px;
    }
}